PORT=3000
NODE_ENV=development

# PostgreSQL — individual vars (bukan DATABASE_URL)
PGHOST=localhost
PGPORT=5432
PGDATABASE=library_db
PGUSER=postgres
PGPASSWORD=bluemotion
# Set ke "true" jika PostgreSQL memerlukan SSL (Railway, Supabase, Neon, dsb.)
PGSSL=false

# JWT
JWT_ACCESS_SECRET=rahasia_access_token_ganti_ini_minimal_32_karakter
JWT_REFRESH_SECRET=rahasia_refresh_token_ganti_ini_minimal_32_karakter
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Mailtrap — untuk test email di lokal (tidak perlu RabbitMQ)
# Daftar gratis di https://mailtrap.io → Email Testing → SMTP Settings
# Pilih "Nodemailer" untuk mendapat host/port/user/pass
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USER=16666dd2751527
MAILTRAP_PASS=d836521522f7c9
MAIL_FROM=noreply@library.app
MAIL_FROM_NAME=Library System

# URL
APP_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173

# QR Code Statis — JANGAN ubah setelah QR dicetak!
#QR_CHECKIN_TOKEN=LIBRARY_CHECKIN_STATIC_TOKEN_GANTI_INI
#QR_CHECKOUT_TOKEN=LIBRARY_CHECKOUT_STATIC_TOKEN_GANTI_INI

# Google OAuth (dari Google Cloud Console)
GOOGLE_CLIENT_ID=y236075271697-0gon6iaupds0eqa5g1ifq9cbatnndqo2.apps.googleusercontent.com

# Cloudinary — untuk upload foto profil
# Daftar gratis di https://cloudinary.com (free tier: 25GB storage, 25GB bandwidth/bulan)
# Dashboard → Settings → Access Keys
CLOUDINARY_CLOUD_NAME=dgflgjrxr
CLOUDINARY_API_KEY=122884552448365
CLOUDINARY_API_SECRET=**********
